<ng-content select="h1"></ng-content>

<!--<div *ngIf="nome != 'William'">-->
<!--  <p [ngClass]="{'active': valor, 'disabled': !valor}">Ng Class</p>-->
<!--  <hr>-->
<!--  <p [ngStyle]="{'height': altura, 'background': backgroundColor}">Ng Style</p>-->
<!--</div>-->
<!--<hr>-->

<!--<input [(ngModel)]="nome"> {{nome}}-->

<!--<button (click)="salvar()">Salvar</button>-->

<!--<li *ngFor="let item of list">{{item.nome}}</li>-->


<!--<hr>-->

<!--<h2>NG-Template</h2>-->

<!--<ng-template ngFor let-item [ngForOf]="list">-->
<!--  <p>-->
<!--    {{item.nome}}-->
<!--  </p>-->
<!--</ng-template>-->

<!--<input [(ngModel)]="nome">-->

<!--<button (click)="salvar()">Salvar</button>-->


<!--<ng-content select="h3"></ng-content>-->


<hr>

<h2>Pipes</h2>


<!--<input [(ngModel)]="nome">-->

<!--<button (click)="salvar()">Salvar</button>-->

<!--<li *ngFor="let item of list">{{item.nome | uppercase}}</li>-->

<b> Data <i>[dd/MM/yyyy HH:mm:ss]</i> </b> : {{date | date: 'dd/MM/yyyy HH:mm:ss'}}
<br>
<b>Valor <i>[R$ 0.000,00] </i> </b> : {{ valorMonetario | currency }}
<br>
<b>Percentual <i>[00.000%] </i> </b> : {{ valorPercentual | percent}}
<br>
<b>CPF </b> : {{cpf | cpf}}





